<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wind.dao.HelpMapper">
  <resultMap id="BaseResultMap" type="com.wind.entity.Help">
    <id column="h_id" jdbcType="INTEGER" property="hId" />
    <result column="h_content" jdbcType="VARCHAR" property="hContent" />
    <result column="h_method" jdbcType="VARCHAR" property="hMethod" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    h_id, h_content, h_method
  </sql>
  <select id="selectByExample" parameterType="com.wind.entity.HelpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from whelp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from whelp
    where h_id = #{hId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from whelp
    where h_id = #{hId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wind.entity.HelpExample">
    delete from whelp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wind.entity.Help">
    insert into whelp (h_id, h_content, h_method
      )
    values (#{hId,jdbcType=INTEGER}, #{hContent,jdbcType=VARCHAR}, #{hMethod,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wind.entity.Help">
    insert into whelp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hId != null">
        h_id,
      </if>
      <if test="hContent != null">
        h_content,
      </if>
      <if test="hMethod != null">
        h_method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hId != null">
        #{hId,jdbcType=INTEGER},
      </if>
      <if test="hContent != null">
        #{hContent,jdbcType=VARCHAR},
      </if>
      <if test="hMethod != null">
        #{hMethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wind.entity.HelpExample" resultType="java.lang.Long">
    select count(*) from whelp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update whelp
    <set>
      <if test="row.hId != null">
        h_id = #{row.hId,jdbcType=INTEGER},
      </if>
      <if test="row.hContent != null">
        h_content = #{row.hContent,jdbcType=VARCHAR},
      </if>
      <if test="row.hMethod != null">
        h_method = #{row.hMethod,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update whelp
    set h_id = #{row.hId,jdbcType=INTEGER},
      h_content = #{row.hContent,jdbcType=VARCHAR},
      h_method = #{row.hMethod,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wind.entity.Help">
    update whelp
    <set>
      <if test="hContent != null">
        h_content = #{hContent,jdbcType=VARCHAR},
      </if>
      <if test="hMethod != null">
        h_method = #{hMethod,jdbcType=VARCHAR},
      </if>
    </set>
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wind.entity.Help">
    update whelp
    set h_content = #{hContent,jdbcType=VARCHAR},
      h_method = #{hMethod,jdbcType=VARCHAR}
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
</mapper>