<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.wind.entity.Order" >
    <id column="o_id" property="oId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="o_contatcts" property="oContatcts" jdbcType="VARCHAR" />
    <result column="o_phone" property="oPhone" jdbcType="VARCHAR" />
    <result column="o_address" property="oAddress" jdbcType="VARCHAR" />
    <result column="o_price" property="oPrice" jdbcType="DECIMAL" />
    <result column="o_packsge" property="oPacksge" jdbcType="VARCHAR" />
    <result column="o_date" property="oDate" jdbcType="DATE" />
    <result column="o_state" property="oState" jdbcType="INTEGER" />
    <result column="o_remark" property="oRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    o_id, u_id, o_contatcts, o_phone, o_address, o_price, o_packsge, o_date, o_state, 
    o_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wind.entity.OrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from worder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from worder
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from worder
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wind.entity.OrderExample" >
    delete from worder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wind.entity.Order" >
    insert into worder (o_id, u_id, o_contatcts, 
      o_phone, o_address, o_price, 
      o_packsge, o_date, o_state, 
      o_remark)
    values (#{oId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{oContatcts,jdbcType=VARCHAR}, 
      #{oPhone,jdbcType=VARCHAR}, #{oAddress,jdbcType=VARCHAR}, #{oPrice,jdbcType=DECIMAL}, 
      #{oPacksge,jdbcType=VARCHAR}, #{oDate,jdbcType=DATE}, #{oState,jdbcType=INTEGER}, 
      #{oRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wind.entity.Order" >
    insert into worder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        o_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="oContatcts != null" >
        o_contatcts,
      </if>
      <if test="oPhone != null" >
        o_phone,
      </if>
      <if test="oAddress != null" >
        o_address,
      </if>
      <if test="oPrice != null" >
        o_price,
      </if>
      <if test="oPacksge != null" >
        o_packsge,
      </if>
      <if test="oDate != null" >
        o_date,
      </if>
      <if test="oState != null" >
        o_state,
      </if>
      <if test="oRemark != null" >
        o_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="oContatcts != null" >
        #{oContatcts,jdbcType=VARCHAR},
      </if>
      <if test="oPhone != null" >
        #{oPhone,jdbcType=VARCHAR},
      </if>
      <if test="oAddress != null" >
        #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oPrice != null" >
        #{oPrice,jdbcType=DECIMAL},
      </if>
      <if test="oPacksge != null" >
        #{oPacksge,jdbcType=VARCHAR},
      </if>
      <if test="oDate != null" >
        #{oDate,jdbcType=DATE},
      </if>
      <if test="oState != null" >
        #{oState,jdbcType=INTEGER},
      </if>
      <if test="oRemark != null" >
        #{oRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wind.entity.OrderExample" resultType="java.lang.Integer" >
    select count(*) from worder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update worder
    <set >
      <if test="record.oId != null" >
        o_id = #{record.oId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.oContatcts != null" >
        o_contatcts = #{record.oContatcts,jdbcType=VARCHAR},
      </if>
      <if test="record.oPhone != null" >
        o_phone = #{record.oPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.oAddress != null" >
        o_address = #{record.oAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.oPrice != null" >
        o_price = #{record.oPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.oPacksge != null" >
        o_packsge = #{record.oPacksge,jdbcType=VARCHAR},
      </if>
      <if test="record.oDate != null" >
        o_date = #{record.oDate,jdbcType=DATE},
      </if>
      <if test="record.oState != null" >
        o_state = #{record.oState,jdbcType=INTEGER},
      </if>
      <if test="record.oRemark != null" >
        o_remark = #{record.oRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update worder
    set o_id = #{record.oId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      o_contatcts = #{record.oContatcts,jdbcType=VARCHAR},
      o_phone = #{record.oPhone,jdbcType=VARCHAR},
      o_address = #{record.oAddress,jdbcType=VARCHAR},
      o_price = #{record.oPrice,jdbcType=DECIMAL},
      o_packsge = #{record.oPacksge,jdbcType=VARCHAR},
      o_date = #{record.oDate,jdbcType=DATE},
      o_state = #{record.oState,jdbcType=INTEGER},
      o_remark = #{record.oRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wind.entity.Order" >
    update worder
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="oContatcts != null" >
        o_contatcts = #{oContatcts,jdbcType=VARCHAR},
      </if>
      <if test="oPhone != null" >
        o_phone = #{oPhone,jdbcType=VARCHAR},
      </if>
      <if test="oAddress != null" >
        o_address = #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oPrice != null" >
        o_price = #{oPrice,jdbcType=DECIMAL},
      </if>
      <if test="oPacksge != null" >
        o_packsge = #{oPacksge,jdbcType=VARCHAR},
      </if>
      <if test="oDate != null" >
        o_date = #{oDate,jdbcType=DATE},
      </if>
      <if test="oState != null" >
        o_state = #{oState,jdbcType=INTEGER},
      </if>
      <if test="oRemark != null" >
        o_remark = #{oRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wind.entity.Order" >
    update worder
    set u_id = #{uId,jdbcType=INTEGER},
      o_contatcts = #{oContatcts,jdbcType=VARCHAR},
      o_phone = #{oPhone,jdbcType=VARCHAR},
      o_address = #{oAddress,jdbcType=VARCHAR},
      o_price = #{oPrice,jdbcType=DECIMAL},
      o_packsge = #{oPacksge,jdbcType=VARCHAR},
      o_date = #{oDate,jdbcType=DATE},
      o_state = #{oState,jdbcType=INTEGER},
      o_remark = #{oRemark,jdbcType=VARCHAR}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
</mapper>