<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wind.dao.FeedbackMapper">
  <resultMap id="BaseResultMap" type="com.wind.entity.Feedback">
    <id column="f_id" jdbcType="INTEGER" property="fId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="f_date" jdbcType="VARCHAR" property="fDate" />
    <result column="f_ip" jdbcType="VARCHAR" property="fIp" />
    <result column="f_content" jdbcType="VARCHAR" property="fContent" />
    <result column="f_info" jdbcType="VARCHAR" property="fInfo" />
    <result column="f_version" jdbcType="VARCHAR" property="fVersion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    f_id, u_id, f_date, f_ip, f_content, f_info, f_version
  </sql>
  <select id="selectByExample" parameterType="com.wind.entity.FeedbackExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wfeedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wfeedback
    where f_id = #{fId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wfeedback
    where f_id = #{fId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wind.entity.FeedbackExample">
    delete from wfeedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wind.entity.Feedback">
    insert into wfeedback (f_id, u_id, f_date, 
      f_ip, f_content, f_info, 
      f_version)
    values (#{fId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{fDate,jdbcType=VARCHAR}, 
      #{fIp,jdbcType=VARCHAR}, #{fContent,jdbcType=VARCHAR}, #{fInfo,jdbcType=VARCHAR}, 
      #{fVersion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wind.entity.Feedback">
    insert into wfeedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        f_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="fDate != null">
        f_date,
      </if>
      <if test="fIp != null">
        f_ip,
      </if>
      <if test="fContent != null">
        f_content,
      </if>
      <if test="fInfo != null">
        f_info,
      </if>
      <if test="fVersion != null">
        f_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="fDate != null">
        #{fDate,jdbcType=VARCHAR},
      </if>
      <if test="fIp != null">
        #{fIp,jdbcType=VARCHAR},
      </if>
      <if test="fContent != null">
        #{fContent,jdbcType=VARCHAR},
      </if>
      <if test="fInfo != null">
        #{fInfo,jdbcType=VARCHAR},
      </if>
      <if test="fVersion != null">
        #{fVersion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wind.entity.FeedbackExample" resultType="java.lang.Long">
    select count(*) from wfeedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wfeedback
    <set>
      <if test="row.fId != null">
        f_id = #{row.fId,jdbcType=INTEGER},
      </if>
      <if test="row.uId != null">
        u_id = #{row.uId,jdbcType=INTEGER},
      </if>
      <if test="row.fDate != null">
        f_date = #{row.fDate,jdbcType=VARCHAR},
      </if>
      <if test="row.fIp != null">
        f_ip = #{row.fIp,jdbcType=VARCHAR},
      </if>
      <if test="row.fContent != null">
        f_content = #{row.fContent,jdbcType=VARCHAR},
      </if>
      <if test="row.fInfo != null">
        f_info = #{row.fInfo,jdbcType=VARCHAR},
      </if>
      <if test="row.fVersion != null">
        f_version = #{row.fVersion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wfeedback
    set f_id = #{row.fId,jdbcType=INTEGER},
      u_id = #{row.uId,jdbcType=INTEGER},
      f_date = #{row.fDate,jdbcType=VARCHAR},
      f_ip = #{row.fIp,jdbcType=VARCHAR},
      f_content = #{row.fContent,jdbcType=VARCHAR},
      f_info = #{row.fInfo,jdbcType=VARCHAR},
      f_version = #{row.fVersion,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wind.entity.Feedback">
    update wfeedback
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="fDate != null">
        f_date = #{fDate,jdbcType=VARCHAR},
      </if>
      <if test="fIp != null">
        f_ip = #{fIp,jdbcType=VARCHAR},
      </if>
      <if test="fContent != null">
        f_content = #{fContent,jdbcType=VARCHAR},
      </if>
      <if test="fInfo != null">
        f_info = #{fInfo,jdbcType=VARCHAR},
      </if>
      <if test="fVersion != null">
        f_version = #{fVersion,jdbcType=VARCHAR},
      </if>
    </set>
    where f_id = #{fId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wind.entity.Feedback">
    update wfeedback
    set u_id = #{uId,jdbcType=INTEGER},
      f_date = #{fDate,jdbcType=VARCHAR},
      f_ip = #{fIp,jdbcType=VARCHAR},
      f_content = #{fContent,jdbcType=VARCHAR},
      f_info = #{fInfo,jdbcType=VARCHAR},
      f_version = #{fVersion,jdbcType=VARCHAR}
    where f_id = #{fId,jdbcType=INTEGER}
  </update>
</mapper>